{% extends 'base.html.twig' %}

{% block title %}Hello UrlController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        table {
            text-align: left;
            position: relative;
            border-collapse: collapse;
            background-color: #f6f6f6;
        }

        /* Spacing */
        td, th {
            border: 1px solid #999;
            padding: 20px;
        }

        th {
            background: brown;
            color: white;
            border-radius: 0;
            position: sticky;
            top: 0;
            padding: 10px;
        }

        .primary {
            background-color: #000000
        }

        tfoot > tr {
            background: black;
            color: white;
        }

        tbody > tr:hover {
            background-color: #ffc107;
        }

    </style>

    {# <div class="example-wrapper"> #}
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}

    {# This friendly message is coming from: #}
    {# <ul> #}
    {# <li>Your controller at <code><a href="{{ 'C:/xamppNew/htdocs/testTask/src/Controller/UrlController.php'|file_link(0) }}">src/Controller/UrlController.php</a></code></li> #}
    {# <li>Your template at <code><a href="{{ 'C:/xamppNew/htdocs/testTask/templates/url/index.html.twig'|file_link(0) }}">templates/url/index.html.twig</a></code></li> #}
    {# </ul> #}
    {# </div> #}

    {# {{ form(form) }} #}

    {{ form_start(form) }}
    <div class="example-wrapper">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.longUrl) }}
            {{ form_row(form.startTime,{'label': 'Start time'}) }}
            {{ form_row(form.endTime,{'label': 'End time'}) }}
        </div>
    </div>
    <button type="submit" class="button">Отправить</button>
    {{ form_end(form) }}

    <table border="1">
        <caption>Urls</caption>
        <tr>
            <th>Long url</th>
            <th>Short url</th>
            <th>Views</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        {% for url in urls %}
            <tr>
                <td><a href="{{ url.longUrl }}">{{ url.longUrl }}</a></td>
                <td><a href="localhost:8000/{{ url.shortUrl }}">localhost:8000/{{ url.shortUrl }}</a></td>
                <td>{{ url.views }}</td>
                <td>{{ url.startTime|date('H-i d.m.Y') }}</td>
                <td>{{ url.endTime|date('H-i d.m.Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
